<dl class="row">
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9"><h3>welcome to Pet-Adopt.</h3></dd>
  
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9">
      <h5>nous essayons d'arrêter le massacre de chiens dans les rues.</h5>
      <h5>vous pouvez nous aider en donnant de l'argent pour aider à construire un abri pour ces pauvres animaux.</h5>
    </dd>
  
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9">
       <h5> ou vous pouvez simplement adopter un chien et en prendre soin.</h5></dd>
  
    <dt class="col-sm-3 text-truncate"></dt>
    <dd class="col-sm-9">
    <h5> veuillez partager avec vos amis pour le plus grand bien.</h5></dd>
  
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9">
      <dl class="row">
        <dt class="col-sm-4">
        <h5> être sûr que ton acte fera une différence</h5></dt>
        <dd class="col-sm-8"> <h5>un grand merci pour la multitude de petadopt pour ce grand effort
            .</h5></dd>
      </dl>
    </dd>
  </dl>